MAIL_PASSWORD=your-mail-password
MAIL_USERNAME=your-email
JWT_SECRET=your-jwt-secret
GOOGLE_CLIENT_SECRET=your-google-client-secret
GOOGLE_CLIENT_ID=your-google-client-id
STRIPE_SECRET=your-stripe-secret
WEBHOOK_KEY=your-webhook-key