<div class="app-container">

  <div class="sidebar" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }">
    <div class="sidebar-header">
      <h3>User Dashboard</h3>
    </div>
    <div class="sidebar-menu">
      <a [routerLink]="['/admin/users']"
         [routerLinkActiveOptions]="{ exact: true }"
         routerLinkActive="active"
         class="sidebar-item text-reset">
        <i><fa-icon [icon]="faUsers"></fa-icon></i>
        <span>Users</span>
      </a>
      <a [routerLink]="['/admin/products']"
         routerLinkActive="active"
         class="sidebar-item text-reset">
        <i><fa-icon [icon]="faBoxesPacking"></fa-icon></i>
        <span>Products</span>
      </a>
      <a [routerLink]="['/admin/orders']" routerLinkActive="active" class="sidebar-item text-reset">
        <i><fa-icon [icon]="faBagShopping"></fa-icon></i>
        <span>Orders</span>
      </a>
    </div>
  </div>
  <button class="toggle-sidebar-btn rounded-end-circle mt-2" (click)="toggleSidebar()">
    <i *ngIf="!isSidebarCollapsed"><fa-icon [icon]="faArrowLeft"></fa-icon></i>
    <i *ngIf="isSidebarCollapsed"><fa-icon [icon]="faArrowRight"></fa-icon></i>
  </button>
  <div class="main-content">
    <router-outlet></router-outlet>
    <h1 *ngIf="isAdminHome()">Welcome to Admin Panel</h1>
  </div>
</div>
