<div class="card-view h-100 rounded-4">
  <a [routerLink]="['/products', product.id]" class="nav-link">
    <div class="card-body position-relative">
      <div class="product-image-container">
        <span class="product-rating">{{ product.rating }} / 5</span>
        <img #productImg [src]="'http://localhost:8080/' + product.image" [alt]="'no image'" class="card-img p-1 mb-1">
      </div>
      <h5 class=""><p [innerHTML]="product.name | highlight:search"></p></h5>
      <p class="card-text">
        <span><strong>Price:</strong> {{ product.price | currency:'EUR' }}</span>
        <span class="mx-2"><strong>Amount left:</strong> {{ product.quantity }}</span>
      </p>
      <p class="card-text">
        <span *ngFor="let category of product.categories" class="badge bg-secondary mx-1">
          {{ category }}
        </span>
      </p>
    </div>
  </a>
  <button
    (click)="addToCart(product.id, productImg, $event)"
    *ngIf="isLoggedIn && product.quantity > 0"
    class="btn btn-primary add-to-cart-btn">
    Add to cart
  </button>
</div>
