<div class="container mt-3">
  <div class="row ms-3">
    <div class="col-md-8 row gap-2">
      <button class="btn flex-grow-1 col-md-3" (click)="sortBy('name')"
              [ngClass]="{'btn-outline-primary': sort === 'name', 'btn-outline-secondary': sort !== 'name' }">
        <fa-icon *ngIf="sort === 'name'" [icon]="direction === 'asc' ? faSortUp : faSortDown"></fa-icon>
        <fa-icon *ngIf="sort !== 'name'" [icon]="faSort"></fa-icon>
        Name
      </button>
      <button class="btn flex-grow-1 col-md-3" (click)="sortBy('price')"
              [ngClass]="{'btn-outline-primary': sort === 'price', 'btn-outline-secondary': sort !== 'price' }">
        <fa-icon *ngIf="sort === 'price'" [icon]="direction === 'asc' ? faSortUp : faSortDown"></fa-icon>
        <fa-icon *ngIf="sort !== 'price'" [icon]="faSort"></fa-icon>
        Price
      </button>
      <button class="btn flex-grow-1 col-md-3" (click)="sortBy('amountLeft')"
              [ngClass]="{'btn-outline-primary': sort === 'amountLeft', 'btn-outline-secondary': sort !== 'amountLeft' }">
        <fa-icon *ngIf="sort === 'amountLeft'" [icon]="direction === 'asc' ? faSortUp : faSortDown"></fa-icon>
        <fa-icon *ngIf="sort !== 'amountLeft'" [icon]="faSort"></fa-icon>
        Amount
      </button>
      <button class="btn flex-grow-1 col-md-1" (click)="sortBy('id')"
              [ngClass]="{'btn-outline-danger': sort !== 'id', 'btn-outline-secondary': sort === 'id' }">
        <fa-icon [icon]="faTrashRestore"></fa-icon>
      </button>
    </div>
    <div class="col-md-4">
      <input
        type="text"
        class="form-control"
        placeholder="Search by name"
        [(ngModel)]="search"
        (input)="onSearch()"
      />
    </div>
  </div>

  <div class="row my-3">
    <div class="col-md-9">
      <button *ngFor="let category of allCategories"
              [ngClass]="['btn btn-sm rounded-2', selectedCategories.includes(category) ? 'btn-info' : 'btn-outline-secondary']"
              style="margin: 2px"
              (click)="filterByCategory(category)">
        {{ category }}
      </button>
      <button *ngIf="selectedCategories.length > 0"
              class="btn btn-outline-danger btn-sm rounded-2"
              style="margin: 2px"
              (click)="clearCategoryFilters()">
        Clear Filters
      </button>
    </div>
    <div class="col-md-3">
      <div class="d-flex align-items-center">
        <input type="range"
               class="form-range"
               min="0"
               [max]="maxPriceFromData"
               [(ngModel)]="minPrice"
               (change)="onPriceChange()"
               id="minPriceSlider">
        <span class="ms-2">${{minPrice}}</span>
      </div>
      <div class="d-flex align-items-center">
        <input type="range"
               class="form-range"
               min="0"
               step="1"
               [max]="maxPriceFromData"
               [(ngModel)]="maxPrice"
               (change)="onPriceChange()"
               id="maxPriceSlider">
        <span class="ms-2">${{maxPrice}}</span>
      </div>
    </div>
  </div>

  <div class="row">
    <div *ngFor="let product of products" class="col-md-4 mb-4">
      <app-cart-product [product]="product" [isLoggedIn]="true" [search]="search"></app-cart-product>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-4">
    <ngb-pagination
      [(page)]="page"
      [pageSize]="pageSize"
      [collectionSize]="totalElements"
      [maxSize]="5"
      [rotate]="true"
      [boundaryLinks]="true"
      (pageChange)="onPageChange($event)"
    ></ngb-pagination>
  </div>
</div>
