<div class="container">
  <h4 class="mb-4"><a routerLink="/profile" class="text-reset">User</a> -> Orders</h4>
  <div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
    <div class="spinner-border text-primary" role="status">
      <span class="visually-hidden">Loading...</span>
    </div>
  </div>

  <div *ngIf="errorMessage" class="alert alert-danger mt-2">
    {{ errorMessage }}
  </div>

  <div *ngIf="!isLoading && orders.length === 0" class="alert alert-info">
    You have no orders yet.
  </div>

  <div *ngIf="!isLoading && orders.length > 0" class="list-group">
    <div *ngFor="let order of orders" class="cart-order px-2 py-1 border-2 mb-3 shadow rounded-3">
      <div class="d-flex justify-content-between">
        <div>
          <p class="mb-1">Order ID: {{ order.id }}</p>
          <small>Order Date: {{ order.orderDate | date: 'dd-MM-YYYY, HH:mm' }}</small><br>
          <small *ngIf="order.deliveryDate">Delivery Date: {{ order.deliveryDate | date: 'dd-MM-YYYY, HH:mm' }}</small>
        </div>
        <div>
          <small class="rounded-4 px-2" [ngClass]="getStatusClass(order.status)" style="font-size: 0.8rem; font-weight: bold">{{ order.status }}</small>
        </div>
      </div>
      <div class="d-flex justify-content-between">
        <div class="mt-2">
          <p class="mb-1"><strong>Total Price:</strong> {{ order.totalPrice | currency: 'EUR' }}</p>
        </div>
        <div *ngIf="isLoadingPayment && payingId === order.id" class="alert d-flex bg-black bg-opacity-10 justify-content-center align-items-center">
          <mat-progress-spinner mode="indeterminate" color="primary"></mat-progress-spinner>
        </div>
        <div *ngIf="!isLoadingPayment && payingId !== order.id" class="d-flex justify-content-end align-items-center">
          <a *ngIf="order.status === 'CREATED'" (click)="payForOrder(order.id)" class="btn btn-outline-success btn-sm rounded-2 mx-2">Pay</a>
          <a [routerLink]="['/profile/orders', order.id]" class="btn btn-primary btn-sm rounded-2">View Details</a>
        </div>
      </div>
    </div>
  </div>
</div>
